body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

form {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 1rem;
    border-radius: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
 main
    color: white;
    border: none;
    cursor: pointer;
}

.hero {

}
